<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PPE Detection with YOLO-NAS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!--<script>var videoUrl = "{{ url_for('static', filename='runs/result.mp4') }}";</script>-->
</head>
<body>
  <header>
    <h1>PPE Detection with YOLO-NAS</h1>
  </header>
  <main>
    <div class="upload-section">
      <h2>Upload Image or Video</h2>
      <input type="file" id="fileInput" accept=".jpg, .mp4">
      <button onclick="uploadFile()">Upload</button>
    </div>
    <div class="result-section">
      <h2>Result Detection</h2>
      <div id="resultContainer">
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
